<!-- <aol-map [width]="'100%'" [height]="'300'">
    <aol-view [zoom]="2">
        <aol-coordinate [x]="5.795122" [y]="45.210225" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>
    <aol-layer-tile>
        <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
</aol-map> -->

<!-- [coordinates]="[[11.321741, 54.184321],[9.404404, 47.613276], [10.306440, 53.940610]]" -->
<div style="width:auto;height: 400px;margin: 0px">
  <aol-map [width]="'100%'" [height]="'100%'">
    <aol-view [zoom]="zoom">
      <aol-coordinate [x]="x" [y]="y" [srid]="'EPSG:4326'"></aol-coordinate>
      <!-- <aol-coordinate [x]="10" [y]="90" [srid]="'EPSG:4326'"></aol-coordinate> -->
    </aol-view>
    <aol-layer-tile [opacity]="opacity">
      <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
    <aol-interaction-default></aol-interaction-default>
    <aol-layer-vector [opacity]="opacity">
      <aol-source-vector>
        <aol-feature>
          <aol-geometry-linestring>
            <aol-collection-coordinates
              [coordinates]="supliers | coordmap"
              [srid]="'EPSG:4326'">
            </aol-collection-coordinates>
          </aol-geometry-linestring>
          <aol-style>
            <aol-style-stroke [color]="'#ff4081'" [width]="5"></aol-style-stroke>
          </aol-style>
        </aol-feature>


				<aol-feature *ngFor="let el of (supliers | coordmap); let i = index">

					<aol-geometry-point >
						<aol-coordinate [x]="el[0]" [y]="el[1]" [srid]="'EPSG:4326'"></aol-coordinate>
					</aol-geometry-point>
					<aol-style>




						<aol-style-circle [radius]="3" >
										 <aol-style-stroke [color]="'#af2353'" [width]="2"></aol-style-stroke>
										 <aol-style-fill [color]="'#ff4081'"></aol-style-fill>
								 </aol-style-circle>
					</aol-style>
				</aol-feature>

      </aol-source-vector>
    </aol-layer-vector>
  </aol-map>
</div>
