


<div class="md-padding selectdemoBasicUsage" layout="row" style="margin: 0px auto; width: 500px">










<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
  </md-card-header>

  <md-card-content>

    <form [formGroup]="rForm" (ngSubmit)="addPost()">
      <div class="form-group">


        <md-form-field class="example-full-width" style="width: 100%;">
        <!-- <input mdInput id="name" placeholder="Enter Product Code" formControlName="productCode"> -->

  <input mdInput placeholder="Enter Product Code" formControlName="productCode">
         <!-- <input mdInput placeholder="Favorite food" value="Sushi"> -->
        </md-form-field>
        <small id="emailHelp" class="form-text text-muted">Enter the transparency code or use the camera to scan it</small>
      </div>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>



  </md-card-content>
 <md-card-actions>
    <button md-button (click)="onSubmitClick()">Submit</button>
    <button md-button (click)="onScanClick()">Scan</button>
  </md-card-actions>
</md-card>

<qr-scanner
   [debug]="false"
   [canvasWidth]="640"
   [canvasHeight]="480"
   [mirror]="false"
   [stopAfterScan]="true"
   [updateTime]="500"
   (onRead)="decodedOutput($event)"></qr-scanner>

</div>
