


<div class="md-padding selectdemoBasicUsage" layout="row" style="margin: 0px auto; width: 500px">










<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
  </md-card-header>

  <md-card-content>

    <form [formGroup]="rForm" (ngSubmit)="addPost()">
      <div class="form-group">
        <label for="exampleInputEmail1">Transparency Code</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Product Code" formControlName="productCode">
        <small id="emailHelp" class="form-text text-muted">Enter the transparency code or use the camera to scan it</small>
      </div>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>



  </md-card-content>
 <md-card-actions>
    <button md-button (click)="onSubmitClick()">Submit</button>
    <button md-button (click)="onScanClick()">Scan</button>
  </md-card-actions>
</md-card>

</div>


<video #hardwareVideo></video>
