<md-toolbar>
  <span>Supplychain History</span>
</md-toolbar>

<!--<form class="example-form">-->
<!--<md-form-field class="example-full-width">-->
<!--<input mdInput placeholder="Favorite food" [(ngModel)]="favfood" name="favfood">-->
<!--</md-form-field>-->
<!--<button [click]="submit()">-->
<!--submit-->
<!--</button>-->
<!--</form>-->

<div id="content" style="padding: 20px; margin: 0px auto; max-width: 500px">


  <md-slider style="width:100%" [(ngModel)]="selected" [step]="1" [min]="0" [max]="(suppliers | async)?.size - 1" [thumbLabel]="true"></md-slider>
  <app-supplierviewcard [supplier]="(suppliers | async)?.get(selected)"></app-supplierviewcard>


</div>
