<md-toolbar>
  <span>Übersicht</span>
</md-toolbar>

<!--<form class="example-form">-->
  <!--<md-form-field class="example-full-width">-->
    <!--<input mdInput placeholder="Favorite food" [(ngModel)]="favfood" name="favfood">-->
  <!--</md-form-field>-->
  <!--<button [click]="submit()">-->
    <!--submit-->
  <!--</button>-->
<!--</form>-->

<div id="content" width="90%">
  <md-slider width="100%"></md-slider>
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/logo.png" alt="Photo of a Shiba Inu">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

</div>
